$main-color: #fff;
$main-dark-color: #444444;
$second-color: #FF4E50;
$main-font-family: Montserrat, sans-serif;
$second-font-family: Montserrat-Light, sans-serif;
$thin-font-family: Roboto, sans-serif;
$main-backgraund-color: #FF4E50;
